<% if @surveys %>

  <% @surveys.to_a.each do |survey| %>
    <div class="post">
      <%= survey.id %>. <a href="/surveys/<%= survey.id %>"><%= survey.title %></a> by survey.user.name <span><a href="/surveys/<%= survey.id %>/result/new"><button type="button" class="bttn-blue">Take Survey</button></a></span>

      <%= erb :_buttons, :layout => false, :locals => {:survey => survey} %>
      <div class="time"><%= survey.created_at.strftime("%H minutes ago") %></div><br>
      "<%= survey.description %>"<br>
    </div>
  <% end %>
<% end %>

show surveys partial
