
<!-- woah this is waaaaaaay too much logic for the views. simple iterators and getters
are generally all you should be doing -->
<div id="content" class="main container-mid">
  <h1><a href="/surveys/<%= @survey.id %>"><%= @survey.title %></a></h1>
  <h2><%= @survey.description %></h2>

  <% unless @survey.questions.to_a.empty? %>
  <ol>

    <form action ='/surveys/<%=@survey.id %>/completed_surveys/new' method='post'>
      <% @survey.questions.each_with_index do |question, index| %>
        <div class="question">
          <!-- this can be handled by a li element, or by css. -->
          <%= index + 1 %>. "<%= question.question_text %>"
            <!-- nested iterators are fine. nested iterators that require out-of-block
            scope are probably not. choice.question_id should get you the data need. -->
            <% for choice in question.choices %>

              <span class="choice">
                <input type="radio" class ="radio" name="question_<%= question.id %>" value="<%= choice.id %>" id="<%= question.id %>">
                <label for="<%= question.id %>"><%= choice.choice_text %>
                </label>
              </span>

            <% end %>
        </div>
      <% end %>

      <div>

        <% unless @logged_in_user.nil? %>
          <label for="email">Email Address:
            <input type='text' name='email' placeholder='E-Mail Address' required>
         </label>
        <% else %>
          <input type='hidden' name='email'>
        <% end %>
        <input type='submit' class='bttn-blue' value='Submit'>
      </div>
    </form>

  </ol>
  <% else %>
    <center><p>This survey has no questions.</p></center>
  <% end %>
</div>