<div id="content" class="main container-mid">
  <script src="Chart.js"></script>

  <h1><%= @survey.title %></h1>
  <h3><%= @survey.description %></h3>
  <a href="/surveys/<%= @survey.id %>">Return to this survey</a>

    <ul class="results_questions">
      <% @survey.questions.each do |question| %>
      <li><%= question.id %>. <%= question.question_text %><br>
        Answers:</li>
      <canvas id="myChart" width="200" height="200"></canvas>
      <% end %>
    </ul>


<!-- TESTING -->
    <!-- Print all the answers to make sure we can access them -->
    <ul>
      <% @survey.choices.each do |choice| %>
      <li><%= choice.id %>. <%= choice.choice_text %></li>
      <% end %>
    </ul>

    <!-- Print the number of users who clicked on each answer -->

    <!-- Query how many users chose a particular choice and pass that number as data to the pie chart -->
</div>

