<div class="profile">
  
  <% profile_image = @user.gravatar_url %>
    <img id="profile_image" src="<%= profile_image %>"><br>

  ID: <span class="indented"><%= @user.id %></span><br>
  User: <span class="indented"><%= @user.name %></span><br>
  Company: <span class="indented"><%= @user.company %></span><br>
  Email: <span class="indented"><%= @user.email %></span><br><br>
  Created: <span class="indented"><%= @user.created_at.strftime("%b %d, %y") %></span><br>
  Last Updated: <span class="indented"><%= @user.updated_at.strftime("%b %d, %y") %></span>
</div>