<div id="content" class="main container-mid">

<!-- This User's MAIN INFORMATION -->
  <div class="container-sml">
    <% @logged_in_user = current_user %>

    user: <%= @user.name %> | ID:<%= @user.id %><br>
    created: <%= @user.created_at %><br>
    email: <%= @user.email %><br>

<br>
<hr><hr>
<br>


  <% if @user.id == @logged_in_user.id %>
    <!-- This user can create their own survey -->
    <%= erb :'survey/_create' %>
  <% end %>

  <br><br><br>

  <!-- This User's surveys -->
  <h3><%= @user.name %>'s Survey(s)</h3>
  <hr>
  <%= erb :'survey/_show_all', :layout => false, :locals => {:surveys => @user.surveys}  %>

  <br><br>

  <!-- Survey's this user has taken -->
  <h3>Survey(s) <%= @user.name %> has Taken</h3>
  <hr>
  <%= erb :'survey/_show_all', :layout => false, :locals => {:surveys => @user.completed_surveys}  %>


</div>