<!-- List of posts authored by user
      List of comments posted by user

      Option to create new post
      Option to create new comment
          -->
<div id="content" class="main container-mid">

<!-- This User's MAIN INFORMATION -->
  <div class="container-sml">
    <% @logged_in_user = current_user %>

    user: <%= @user.name %> | ID:<%= @user.id %><br>
    created: <%= @user.created_at %><br>
    email: <%= @user.email %><br>


<hr>



  <% if @logged_in_user %>
    <!-- This user can create their own survey -->
      <%= erb :'survey/create_survey'%>
  <br>

    <!-- This User's surveys -->
      <%= erb :'survey/show_surveys' %>
  <br>

    <!-- Survey's this user has taken -->
      <%= erb :'survey/completed_surveys' %>

  <% end %>

</div>