<div id="content" class="main container-mid">

  <%= erb :'user/_user_info', :layout => false, :locals => {:user => @user}  %>

  <% if @logged_in_user == current_user %>
    <div class="indented">
      <span>
        <a href="/users/<%= @user.id %>/delete"><button type="button" id="bttn" class="brown">Delete Account</button></a> 
        <a href="/users/<%= @user.id %>/update_account"><button type="button" id="bttn" class="brown">Edit Account</button></a>
      </span>
    </div>
  <% end %>

  <br>
  <hr><hr>
  <br>

  <div class="container-mid">
    <% if @logged_in_user %>
      <% if @user.id == @logged_in_user.id %>
        <%= erb :'survey/_create' %>
      <% end %>
    <% end %>

    <br><br><br>


    <h3><%= @user.name %> has created <%= @users_surveys.count %> Survey(s)</h3>
    <hr>
    <%= erb :'survey/_show_all', :layout => false, :locals => {:surveys => @users_surveys}  %>

    <br><br>


    <h3><%= @user.name %> has Taken <%= @completed_surveys.count %> Surveys</h3>
    <hr>
    <%= erb :'survey/_show_all', :layout => false, :locals => {:surveys => @completed_surveys}  %>

  </div>
</div>